/*dev only*/
/*
div, nav, footer {
  border: 1px solid purple;
}
*/
/* universal styles */

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header */
.ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
  margin-top: 1rem;
  font: 1rem;
}

.company {
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.menu-mobile {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 1rem;
}

nav li {
  margin: auto 1rem;
}

.hero {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.flex-container {
  display: flex;
  max-width: 960px;
  justify-content: flex-end;
}

.headline {
  background-color: white;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;

}

/* products */

.product-grid {
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  margin: 3rem;
}

.product-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 6rem;
  max-height: 5rem;
}

.image-description{

}

/* company info */
.business-info {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;

}

.title {
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  padding: .5rem 1.25rem;

}
/* footer */

footer {
  max-width: 960px;
  margin: 0 auto;
}

  .ribbon-bottom{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  margin-top: 4rem;
  font: 1rem;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 3rem;
}
